body {

    overflow: hidden;
    /* background: linear-gradient(#155946 2.5%, rgb(255, 255, 255) 2.5%); */
}

.login-img {

    background-image: url(https://i.pinimg.com/736x/22/3b/0b/223b0bc96997a70a9ddd8c4fea4923f4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input {
    outline: none !important;
    box-shadow: none !important;
    padding-left: 0px !important;
}

.label-email2 {

    transform: translateY(-20px) !important;
}

.label-password2 {

    transform: translateY(-20px) !important;
}

.boton-login {

    border-radius: 50px;
    transition-duration: 0.5s;
    transition-property: background-color;
}

@media screen and (max-width: 1123px) {

    .login-img {
        display: none;
    }

    .grid-cols-2 {
        grid-template-columns: none !important;
    }

    .mini-text {

        justify-content: start !important;
    }

}

@media screen and (max-width: 468px) {

    .pad-media {
        padding: 0 !important;
    }
}